* {
    margin: 0px;
    padding: 0px;
}

/* Simple solution that is suitable to fix the issue of offscreen components 
making app scrollable since scrolling is not necessary for this web page */
body {
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height:100vh;
}

h1, h2, h3, h4, p, input, textarea {
    font-family: "Arial", "sans-serif";
}